### Common ###
bin/
lib/
*.bak*
*.dll
*.so
*.bat
*.ini
*.exe
*.res

### Lazarus ###
*.a
*.o
*.dylib
*.lrs
*.compiled
*.dbg
*.ppu
*.or
*.rst
*.rsj
*.lrt
*.lps
*.app/

### Delphi ###
*.tlb
*.ddp
*.vlb
*.deployproj
*.obj
*.bpl
*.bpi
*.dcp
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.ocx
*.cfg
*.hpp
*Resource.rc
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
__recovery/
*.~*
*.stat
